.m-menu-item1-flushed {
  position: absolute;
  display: block;
  animation-name: m-animated_menu_1;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.m-menu-item2-flushed {
  position: absolute;
  display: block;
  animation-name: m-animated_menu_2;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.m-menu-item3-flushed {
  position: absolute;
  display: block;
  animation-name: m-animated_menu_3;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.m-menu-item4-flushed {
  position: absolute;
  display: block;
  animation-name: m-animated_menu_4;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.m-menu-item1-flushed-reverse {
  position: absolute;
  animation-name: m-animated_menu_1_reverse, m-animated_menu_hidden;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.m-menu-item2-flushed-reverse {
  position: absolute;
  animation-name: m-animated_menu_2_reverse, m-animated_menu_hidden;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.m-menu-item3-flushed-reverse {
  position: absolute;
  animation-name: m-animated_menu_3_reverse, m-animated_menu_hidden;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.m-menu-item4-flushed-reverse {
  position: absolute;
  animation-name: m-animated_menu_4_reverse, m-animated_menu_hidden;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.m-menu-items-hidden {
  opacity: 1;
  transition: opacity 0.15s ease-in;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  margin: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #000;
  color: #fff;
  position: fixed;
  text-decoration: none;
  transition: color 0.15s ease-in;
  display: none;
  border-radius: 0.25rem;
}
.m-menu-image {
  mix-blend-mode: multiply;
}
@keyframes m-animated_menu_1 {
  from {
    transform: translate(0px, 0px) rotate(0deg);
  }
  to {
    transform: translate(160px, 10px) rotate(60deg);
  }
}

@keyframes m-animated_menu_2 {
  100% {
    transform: translate(120px, 60px) rotate(60deg);
  }
}
@keyframes m-animated_menu_3 {
  100% {
    transform: translate(60px, 80px) rotate(60deg);
  }
}
@keyframes m-animated_menu_4 {
  100% {
    transform: translate(5px, 100px) rotate(60deg);
  }
}

@keyframes m-animated_menu_1_reverse {
  from {
    transform: translate(100px, 30px) rotate(60deg);
  }
  to {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

@keyframes m-animated_menu_2_reverse {
  from {
    transform: translate(160px, 10px) rotate(60deg);
  }
  to {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@keyframes m-animated_menu_3_reverse {
  from {
    transform: translate(60px, 80px) rotate(60deg);
  }
  to {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@keyframes m-animated_menu_4_reverse {
  from {
    transform: translate(0px, 100px) rotate(60deg);
  }
  to {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@keyframes m-animated_menu_hidden {
  100% {
    visibility: hidden;
  }
}
/*NON MOBILE ANIMATIONS*/
.menu-item1-flushed {
  position: absolute;
  animation-name: animated_menu_1;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.menu-item2-flushed {
  position: absolute;
  animation-name: animated_menu_2;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.menu-item3-flushed {
  position: absolute;
  animation-name: animated_menu_3;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.menu-item4-flushed {
  position: absolute;
  animation-name: animated_menu_4;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.menu-item1-flushed-reverse {
  position: absolute;
  animation-name: animated_menu_1_reverse, animated_menu_hidden;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.menu-item2-flushed-reverse {
  position: absolute;
  animation-name: animated_menu_2_reverse, animated_menu_hidden;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.menu-item3-flushed-reverse {
  position: absolute;
  animation-name: animated_menu_3_reverse, animated_menu_hidden;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.menu-item4-flushed-reverse {
  position: absolute;
  animation-name: animated_menu_4_reverse, animated_menu_hidden;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.menu-items-hidden {
  display: none;
}
.menu-image {
  mix-blend-mode: multiply;
}
@keyframes animated_menu_1 {
  100% {
    transform: translate(60px, -220px) rotate(60deg);
  }
}

@keyframes animated_menu_2 {
  100% {
    transform: translate(140px, -120px) rotate(60deg);
  }
}
@keyframes animated_menu_3 {
  100% {
    transform: translate(140px, 0px) rotate(60deg);
  }
}
@keyframes animated_menu_4 {
  100% {
    transform: translate(60px, 100px) rotate(60deg);
  }
}

@keyframes animated_menu_1_reverse {
  from {
    transform: translate(60px, -220px) rotate(60deg);
  }
  to {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

@keyframes animated_menu_2_reverse {
  from {
    transform: translate(140px, -120px) rotate(60deg);
  }
  to {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@keyframes animated_menu_3_reverse {
  from {
    transform: translate(140px, 0px) rotate(60deg);
  }
  to {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@keyframes animated_menu_4_reverse {
  from {
    transform: translate(60px, 100px) rotate(60deg);
  }
  to {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@keyframes animated_menu_hidden {
  100% {
    visibility: hidden;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
